/*================================

Universal Styling

================================*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: white;

}

/*================================

Header Styling

================================*/
header {
  height: 140px;
  text-align: right;
  background: #ceeae8;
  top: 0;
  width: 100%;
}

nav ul li {
  display: inline;
}

nav a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  font-size: 25px;
  color: #231f20;
  margin: 5px;
  padding: 5px;
}

header nav {
  position: absolute;
  right: 30px;
  Top: 20px;
  width: 60%;
}

header nav li {
  display: inline-block;
  margin: 35px 15px;
}

nav a:hover {
  color: #ceeae8;
  transition: .3s;
}

nav a:active {
  color: #1faba1;
}

nav a:visited {
  color: #233f99;
}

.logo {
  max-width: 160px;
  max-height: 160px;
  position: absolute;
  top: 20px;
  left: 30px;

}
.logo:hover {
  background-color: #ceeae8;
  transition: .3s;
}

.portfolio-page {
  background: white;
  border-bottom: 4px solid #a0a5a5;
}
.home-page {
  background: white;
  border-bottom: 4px solid #a0a5a5;
}
.about-page {
  background: white;
  border-bottom: 4px solid #a0a5a5;
}
.contact-page {
  border-bottom: 4px solid #a0a5a5;
}
/*================================

Home Page Styling

================================*/
.top-section {
  max-width: 100%;
  height: 400px;
}
.welcome {
  text-align: center;
  font-family: 'Open Sans Regular', sans-serif;
  font-size: 50px;
  margin-top: 150px;
}

.welcome2 {
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.middle {

  background-color: #ceeae8;
  width: 100%;
  height: 50px;
}

.bottom {
  background-color: #233f99;
  width: 100%;
  height: 700px;
}

/*================================

Portfolio Page Styling

================================*/

.portfolio {
  width: 100%;
  height: 700px;
  background-color: #ebeded;
}
.projects{
  padding:100px;
  text-align: center;
  color: #233f99;
  font-size: 40px;
  font-family: 'Poppins', Arial, sans-serif;
}
/*================================

About Page Styling

================================*/

.about {
  width: 100%;
  height: 700px;
  background-color: #ebeded;
}
.info{
  padding:100px;
  text-align: center;
  color: #233f99;
  font-size: 40px;
  font-family: 'Poppins', Arial, sans-serif;
}

/*================================

Contact Page Form Styling

================================*/
.pseudo .touch:first-child {
  margin-top: 30px;
  font-family: 'Open Sans Regular', sans-serif;
  font-size: 40px;
}
.pseudo p:nth-child(2) {
  color: #233f99;
  font-family: 'Open Sans Regular', sans-serif;
  font-size: 20px;
  margin-top: 10px;
}
.pseudo p:last-child {
  font-size: 12px;
  margin-top: 4px;
  font-family: 'Open Sans Regular', sans-serif;
}
.container {
  max-width: 1000px;
  margin: 20px auto 80px;
  text-align: center;
  position: relative;
}

.contact-form {
  background: #233f99;
  padding: 20px;
  max-width: 500px;
  border-radius: 5px;
  color: white;
  font-family: 'Open Sans Regular', sans-serif;
  margin: 20px auto;
  text-align: left;
}

.label_input_wrap {
  display: block;
}

label {
  font-weight: bold;
  margin-bottom: 2px;
}

input:hover {
  background: lightgray;
  transition: .3s;
}

.submit input {
  background: white;
  color: #231f20;
  padding: 5px 20px;
  display: inline;
}

.submit {
  display: inline;
}

.input-section {
  margin-bottom: 10px;
}

input {
  padding: 5px 10px;
  border-radius: 3px;
}
textarea {
  font-family: sans-serif;
  padding: 10px 10px;
}

select {
  width: 185px;
  padding: 8px 0;
  border-radius: 4px;
}
.create {
  font-family: 'Open Sans Regular', sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  padding-top: 150px;
}

.container1 {
  background-color: #ebeded;
  width: 100%;
  height: 400px;
}

/*================================

image2 Styling

================================*/
.location {
  max-height: 230px;
  max-width: 250px;
  position: absolute;
  right: 276px;
  top: 145px;
}

/*================================

Footer Styling

================================*/

footer {
  font-family: 'Poppins', sans-serif;
  background: #a0a5a5;
  color: #231f20;
  text-align: center;
  padding: 50px 0;
  height: 200px;
}
 footer a{
   color: white;
   font-size: 40px;
   margin: 0 5px;
   transition: .3s;
 }
 .website {
   margin-bottom: 8px;
 }
 footer a:hover {
   color: #ceeae8;
   transition: .3s;
 }

 .copyright {
   margin-top: 4px;
   font-size: 10px;
   color: #333;
 }
